@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(66, 76, 85);
  color: rgb(245, 237, 240);
  font-family: 'Roboto', sans-serif;
}
